.titleIndex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    width: 100%;
}

.titleIndex h3 {
    font-family: var(--nunito);
    font-size: 1.250em;
    font-weight: bold;
}

.search {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 1px 1px 5px 1px;

    max-height: 30px;
    max-width: 300px;

    display: flex;
    flex-direction: row;
    align-content: baseline;

    background: var(--white);
}

.search input{
    border: transparent;
    background: var(--white);
}

.search button {
    background: var(--white);
    border: transparent;
}

.search button img {
    max-height: 15px;
    padding: 10px;
}