/* botão */
.dropdown {
    color: var(--white);
    width: 50px;
    height: 50px;

    margin-left: 50vw;

    display: flex;
    flex-direction: column;
    align-content: flex-end;

    transition: .5s;
}

.menu {
    max-width: 20px;
    padding: 15px;
    margin-right: 35px;

    transition: .5s;
}

.dropdown:hover .menu{
    transform: rotate(45deg);
}

.dropdown:hover {
    background: var(--black);
}

/* Menu */
.dropmenu {
    display: none;

    align-self: flex-end;
    
    min-width: 150px;
    padding: 5px 0;
    margin-top: -5px;
    background: var(--black);

    transition: .5s;
}

.dropmenu li {
    padding: 7px 10px 5px 10px;
}

.dropmenu a {
    text-decoration: none;
    font-family: var(--nunito);
    font-size: 0.875em;
    color: var(--white);
    text-align: left;
}

.dropmenu li:hover {
    background: var(--dark-gray);
}

/* Fazer aparecer */
.dropdown:hover  .dropmenu {
    display: inline-block;
}