.allCards {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-start;

    width: calc(60vw);
    margin: 0 auto 0 20vw;
}

.allCards a {
    text-decoration: none;
    color: var(--black);
}

.card {
    background: var(--white-card);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    padding: 30px;
    margin: 9px;

    text-align: center;
    font-family: var(--nunito);
}

.small {
    max-width: calc(20vw - 20px);
}