.accordion {
    display: inline-block;
}

.accordion-item input {
    display: none;
}

.accordion-name {
    width: calc(20vw - 20px);

    padding: 5px 0 5px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: var(--nunito);
    font-size: 1em;

    transition: .5s;
}

.accordion-name:hover {
    background: var(--light-blue);
}

.arrow {
    margin-right: 17px;
    font-weight: bold;

    transition: .5s;
}

.accordion-content {
    height: 0;
    width: 20vw;
    overflow: hidden;

    transition: .5s;
}

.accordion-content li {
    width: calc(20vw - 20px);
    padding: 5px 0 5px 20px;
}

.accordion-content a {
    text-decoration: none;
    font-family: var(--nunito);
    font-size: 1em;
    color: var(--white);
}

.accordion-content ul {
    background: var(--dark-gray);
    padding-bottom: 20px;
}

.accordion-content li:hover {
    background: var(--black);
}

[id^=accordion]:checked ~ .accordion-content {
    height: 105px;
}