.header {
    height: 50px;
    position: sticky;
    top: 0;
    overflow: show;

    background: var(--dark-blue);

    display: flex;
    flex-direction: row;
    
}

.logo {
    padding: 13px;

    position: absolute;
    left: 45vw;
}