.resetPassword {
    width: 50vw;
    height: 100vh;

    background: var(--dark-blue);
}

.contentChangePSW {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    max-width: 30vw;
    margin: 25vh auto;
}

.contentChangePSW h3 {
    font-family: var(--nunito);
    font-size: 2.123em;
    padding: 20px 0;
}

.contentChangePSW input {
    width: 300px;
    margin-top: 5px;

    border: 1px solid var(--medium-gray);
    border-radius: 5px;
    padding: 5px 0 5px 20px;

    align-self: center;
    font-family: var(--nunito);
    font-size: 1em;
}

.changePasswordbtn {
    background: var(--yellow);

    text-align: center;
    color: var(--white);
    font-weight: 900;
    font-family: var(--nunito);
    font-size: 1em;

    border: 1px solid var(--medium-gray);
    border-radius: 5px;
    padding: 5px;

    width: 320px;
    height: 30px;
    margin-top: 20px;
    align-self: center;
}

.backLink {
    margin-top: 10px;

    color: var(--white);
    text-decoration: underline;
    font-size: .75em;
    font-family: var(--nunito);
}