.flexCurso {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;

    /* posicionar depois do menu */
    margin: 50px auto 0 calc(20vw + 50px);

    /* tipografia */
    font-family: var(--nunito);
    font-size: 1em;
    color: var(--black);

}

.first {
    width: calc(100% - 20px);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0 auto 20px auto;
}

.title h5 {
    font-size: 2.125em;
}

.cardContent {
    max-width: 790px;
    margin: 0 auto;

    text-align: left;
    transition: .5s;
}

.cardContent p {
    padding-bottom: 5px;
}

.cardContent a:hover {
    text-decoration: underline;
}

.negrito {
    font-weight: bold;
}

.scnd-row {
    width: calc(26% - 11px);
}

.first li {
    text-align: left;
    padding: 5px;
}

