:root {
    /* CORES */
    --black: #333;
   --dark-blue: #285670;
   --dark-gray: #4F4F4F;
   --darker-white: #E5E5E5;
   --green: #6CAD44;
   --light-blue: #2F6D89;
   --light-gray: #EFEFEF;
   --lighter-blue: #40AAD8;
   --lighter-medium-gray: #E0E0E0;
   --medium-gray: #BDBDBD;
   --orange: #E28A38;
   --pastel-blue: #D4DDE2;
   --purple: #A058CC;
   --red: #D94040;
   --yellow: #E4C870;
   --white: #fafafa;
   --white-card: #f8f8f8;

   /* FONTES */
   --nunito: 'Nunito', sans-serif;
}

/* CARACTERÍSTICAS GERAIS */
body {
    background: var(--light-gray);
}

.content {
    max-width: 960px;
    margin: 0 auto;
}