.notFound {
    width: 100vw;
    height: 100vh;
    background: var(--pastel-blue);
}

.nf-txt {
    text-align: center;
    font-family: var(--nunito);
    color: var(--dark-blue);
    margin-top: 25vh;
}

.nf-txt h2{
    font-size: 4em;
}

.nf-txt p{
    font-size: 1.5em;
    padding: 10px;
}

.icon {
    padding: 10px;
    max-width: 130px;
}

.nf-txt a {
    text-decoration: none;
    color: var(--dark-blue);
    padding: 10px
}
