.menuLeft {
    height: calc(100vh - 50px);
    width: 20vw;
    background: var(--black);

    position: fixed;

    color: var(--white);
    display: inline-block;
}

.goToDashboard {
    width: calc(20vw -20px);

    padding: 7px 0 5px 20px;
    cursor: pointer;
    
    transition: .5s;
}

.goToDashboard:hover {
    background: var(--light-blue);
}

.linktoDashboard {
    text-decoration: none;
    color: var(--white);
    font-family: var(--nunito);
}