.loginLeft {
    width: calc(50vw + 5px);
    height: 100vh;
    background: var(--black);

    text-align: center;
    color: var(--white);
    font-family: var(--nunito);
}

.logIN {
    margin-top: 50px;
    max-height: 30px;
}

.loginLeft h3 {
    font-size: 2.123em;
    margin: calc(25vh - 30px) 0 20px 0;
}

.loginLeft p {
    font-size: .875em;
    max-width: 200px;
    margin: 20px auto;
}

.registerLink {
    color: var(--white);
    text-decoration: underline;
    font-size: .75em;
    font-family: var(--nunito);
}