.UsersTable {
    background: var(--white);

    width: 100%;
    margin: 20px 0;
    overflow: hidden;
    padding: 0;

    border: 1px solid var(--darker-white);
    border-radius: 10px;
    box-shadow: 0px 2px 2px var(--darker-white);
}

tr:hover {
    background: var(--lighter-medium-gray);
}

.UsersTable th {
    text-align: center;
    padding: 20px;
    max-width: 250px;

    font-family: var(--nunito);
    font-size: 1.125em;

    border-bottom: 1px solid var(--darker-white);
}

.names {
    text-align: left;
    padding: 20px;
}

.types, .status, .edit {
    text-align: center;
    padding: 20px;
}

tbody tr {
    border-bottom:1px solid var(--darker-white);
    font-family: var(--nunito);
    font-size: .875em;
}

.aprovado {
    background: var(--green);
    padding: 7px 10px;
    border-radius: 5px;

    font-size: .75em;
    color: var(--white);
}

.desqualificado {
    background: var(--red);
    padding: 7px 10px;
    border-radius: 5px;

    font-size: .75em;
    color: var(--white);
}

.cursando {
    background: var(--lighter-blue);
    padding: 7px 10px;
    border-radius: 5px;

    font-size: .75em;
    color: var(--white);
}

.desistente {
    background: var(--purple);
    padding: 7px 10px;
    border-radius: 5px;

    font-size: .75em;
    color: var(--white);
}

.reprovado {
    background: var(--orange);
    padding: 7px 10px;
    border-radius: 5px;

    font-size: .75em;
    color: var(--white);
}

.edit-btn {
    background: var(--yellow);
    padding: 7px 10px;
    border-radius: 5px;

    font-size: .75em;
    color: var(--white);
    cursor: pointer;
}